TYPEORM_CONNECTION="postgres"
TYPEORM_HOST="localhost"
TYPEORM_USERNAME="kutipanku"
TYPEORM_PASSWORD="kutipass"
TYPEORM_DATABASE="kutipanku_db"
TYPEORM_PORT=5432
TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=true
TYPEORM_ENTITIES="src/entity/*.*"